<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.design.smartcampususerservice.dao.AcademyDao">
    <insert id="addAcademy" parameterType="Academy" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO academy(academy_name,campus_id)VALUES(#{academyName},#{campusId})
    </insert>
    <delete id="delAcademyById" parameterType="int">
        DELETE FROM academy WHERE id=#{id}
    </delete>
    <update id="editAcademy" parameterType="Academy">
        UPDATE academy SET academy_name=#{academyName} WHERE id=#{id}
    </update>
    <select id="findAcademyById" parameterType="int" resultType="Academy">
        SELECT * FROM academy WHERE id=#{id}
    </select>
    <select id="findAcademyByCampusId" parameterType="int" resultType="Academy">
        SELECT * FROM academy WHERE campus_id=#{campusId}
    </select>
</mapper>