<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.dr{ 
     width:1000px;
     height:400px;

   }
.df{
     width:100px;
     height:200px;
     float:left;
     margin:10px 0 0 20px;
     }
 .dl{
     float:right;
     margin:10px 120px 0 0;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Insert title here</title>
</head>
<body>
<br/><br/><br/><br/>
<div class="dr">
     <div class="df">
        <img src="/imgs/welcome.jpg"/>
     </div>
     <div class="dl">
          <br/><br/>
          <p><b><font size="6" face="华文彩云">学院：信息科学与工程学院</font></b></p>
          <p><b><font size="6" face="华文彩云">专业：15级计算机科学与技术5班</font></b></p>
          <p><b><font size="6" face="华文彩云">答辩人：熊思敏</font></b></p>
     </div>     
</div>  
</body>
</html>