<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Insert title here</title>
</head>
<body>
<br/>
<form action="/editColumn" method="post">
    <input type="hidden" name="id" th:value="${column.id}"/>
    <table align="center">
        <tr>
            <td>版块名称:</td>
            <td>
                <input type="text" name="columnName" th:value="${column.columnName}" size="20" class="form-control"/>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>是否开放：</td>
            <td><select size="1" name="isOpening" class="form-control">
                <option th:selected="${column.isOpening==1}" value="1">是</option>
                <option th:selected="${column.isOpening==0}" value="0">否</option>
            </select></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <!-- <td>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</td> -->
            <td colspan="2" style="text-align: center"><input type="submit" style="width: 100%;" value="提交"
                                                              class="btn btn-primary"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>