<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.design.smartcmapusadminservice.dao.ColumnDao">
    <insert id="addColumn" parameterType="Column" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `column`(`column_name`,is_opening)VALUES (#{columnName},#{isOpening})
    </insert>
    <update id="editColumn" parameterType="Column">
        UPDATE `column` SET  `column_name`=#{columnName},`is_opening`=#{isOpening} WHERE id=#{id}
    </update>
    <select id="getAllColumn" resultType="Column">
        SELECT * FROM  `column`
    </select>
    <delete id="delColumn" parameterType="int">
        DELETE FROM `column` WHERE id=#{id}
    </delete>
    <select id="findColumnById" parameterType="int" resultType="Column">
        SELECT * FROM `column` WHERE id=#{id}
    </select>
</mapper>